.git
.gitignore

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

venv/
.venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.env
*.env.*
.env.*.local
*.local

*.log
logs/

*.sqlite3
*.sqlite3-journal

.DS_Store
Thumbs.db

htmlcov/
.coverage
.coverage.*

build/
dist/
*.egg-info/