.env
*.env.*
.env.*.local

venv/
.venv/
env/
ENV/
*.pyc
__pycache__/
.eggs/
*.egg-info/
pip-wheel-metadata/
share/python-wheels/

db.sqlite3
*.sqlite3
*.sqlite3-journal

.idea/

*.log
logs/

dump.rdb
appendonly.aof
redis_data/